<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Mapping</key>
	<dict>
		<key>ZYHomeViewController</key>
		<string>首页</string>
		<key>GoodListViewController</key>
		<string>商品列表</string>
		<key>SearchViewController</key>
		<string>商品搜索界面</string>
		<key>FilterViewController</key>
		<string>商品筛选条件界面</string>
		<key>FilterContentViewController</key>
		<string>商品筛选内容界面</string>
		<key>GoodDetailViewController</key>
		<string>商品详情界面</string>
		<key>FactoryDetailController</key>
		<string>厂家信息界面</string>
		<key>RentDescriptionController</key>
		<string>租赁说明界面</string>
		<key>BuyOrderViewController</key>
		<string>购买订单确认界面</string>
		<key>RentOrderViewController</key>
		<string>租赁订单确认界面</string>
		<key>PayWayViewController</key>
		<string>支付界面</string>
		<key>DredgeViewController</key>
		<string>开通认证列表界面</string>
		<key>TerminalChildController</key>
		<string>终端详情界面</string>
		<key>ApplyDetailController</key>
		<string>开通申请界面</string>
		<key>VideoAuthController</key>
		<string>视频认证界面</string>
		<key>TerminalViewController</key>
		<string>终端管理列表界面</string>
		<key>BankSelectedController</key>
		<string>开通申请选择银行界面</string>
		<key>ChannelSelectedController</key>
		<string>开通申请选择支付通道界面</string>
		<key>DealRoadController</key>
		<string>交易流水界面</string>
		<key>DealRoadChildController</key>
		<string>交易详情界面</string>
		<key>DealRoadDetailController</key>
		<string>交易流水统计界面</string>
		<key>LoanViewController</key>
		<string>我要理财界面</string>
		<key>SystemNoticeController</key>
		<string>系统公告列表界面</string>
		<key>SystemNoticeChildController</key>
		<string>系统公告详情界面</string>
		<key>ContactusUsController</key>
		<string>联系我们界面</string>
		<key>ShoppingCartController</key>
		<string>购物车列表界面</string>
		<key>MessageViewController</key>
		<string>我的消息界面</string>
		<key>MoneyManagementViewController</key>
		<string>我要贷款界面</string>
		<key>MessageChildViewController</key>
		<string>我的消息详情界面</string>
		<key>MineViewController</key>
		<string>我的界面</string>
		<key>MyOrderViewController</key>
		<string>我的订单列表界面</string>
		<key>OrderDetailController</key>
		<string>我的订单详情界面</string>
		<key>OrderCommentController</key>
		<string>评价界面</string>
		<key>AfterSellViewController</key>
		<string>售后记录菜单界面</string>
		<key>RepairDetailController</key>
		<string>维修详情界面</string>
		<key>ReturnDetailController</key>
		<string>退货详情界面</string>
		<key>CancelDetailController</key>
		<string>注销详情界面</string>
		<key>ChangeDetailController</key>
		<string>换货详情界面</string>
		<key>UpdateDetailController</key>
		<string>更新资料详情界面</string>
		<key>RentDetailController</key>
		<string>租赁退货详情界面</string>
		<key>BaseInformationViewController</key>
		<string>我的信息界面</string>
		<key>ChangePhoneController</key>
		<string>手机修改界面</string>
		<key>ChangeEmailController</key>
		<string>邮箱修改界面</string>
		<key>IntegralViewController</key>
		<string>我的积分列表界面</string>
		<key>SafeViewController</key>
		<string>修改密码界面</string>
		<key>MyShopViewController</key>
		<string>我的商户列表界面</string>
		<key>MerchantDetailViewController</key>
		<string>我的商户详情界面</string>
		<key>EditMerchantViewController</key>
		<string>商户编辑界面</string>
		<key>CreateMerchantViewController</key>
		<string>新增商户界面</string>
		<key>ApplyPlanViewController</key>
		<string>申请开通进度界面</string>
		<key>LocationViewController</key>
		<string>城市选择界面</string>
		<key>FindPasswordViewController</key>
		<string>找回密码界面</string>
		<key>RegisterViewController</key>
		<string>注册界面</string>
		<key>LoginViewController</key>
		<string>登录界面</string>
	</dict>
</dict>
</plist>
